.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.primary-bg {
  background-image: url(../images/assets/Hero-bg.png);

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}

.nav-title {
  font-weight: 900;
  font-size: 34px;
  color: rgba(78, 71, 255, 1);
}

.btn-primary {
  background-color: rgba(78, 71, 255, 1);
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.banner {
  /* max-width: 900px; */

}

.banner-content {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  /* gap: 37px; */
}

.banner-title {
  width: 900px;
  text-align: center;
  margin-left: 500px;
}

/* main styles */


.action {
  display: flex;
  justify-content: space-between;
  margin: 150px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
}

.action-subtitle {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  width: 500px;
}

img {
  border-radius: 50px;
}

/* user styles */

.secondary-bg {
  background-color: rgba(78, 71, 255, 0.1);
  /* margin: 0 500px; */
  max-width: ;
}

.user {
  border-radius: 20px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 140px;
  text-align: center;
}

.user-title {
  /* text-align: center; */
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0;

}

.user-content {
  display: flex;
  justify-content: space-around;


}

.user-rate {
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
  margin-bottom: 0;
}

/* form contact styles */
.contact {
  margin: 150px 250px;
  display: flex;
  gap: 100px;
}

.contact-column {
  width: 50%;
}

.contact-title {
  font-size: 97px;
  font-weight: bold;
}

.contact input[type="text"],
.contact input[type=email] {
  height: 70px;
  border-radius: 10px;
  background-color: white;
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 19px;
  /* border: none; */
}

.contact textarea {
  /* height: 70px; */
  border-radius: 10px;
  background-color: white;
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 19px;
  /* border: none; */
}

.contact input[type="button"] {
  background-color: rgba(78, 71, 255, 1);
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  width: 93%;
}

/* footer styles */

footer {
  margin: 100px 450px;
}


.frame {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;

}

.frame h2 {
  font-size: 100px;
  font-weight: 900;
  color: rgba(78, 71, 255, 1);
  margin-bottom: 5px;

}

.frame p {
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  color: #8987A1;
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.footer-items a {
  text-decoration: none;
  color: #8987A1;
}